@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400&display=swap');

$colorPrimary:#ed1c24;
$colorDark:#01020c;
$colorLight:#f4f4f4;
$colorText:#707070;
$colorWhite:#fff;
$colorBlack:#000;

$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;

$mediumSize:992px;
$littleSize:768px;
